$primaryColor     : hsl(25, 97%, 53%);
$neutral          : hsl(0, 0%, 100%);
$neutralLightGrey : hsl(216, 12%, 75%);
$neutralMidGrey   : hsl(218, 12%, 25%);
$neutralBlue      : hsl(213, 19%, 18%);
$neutralDarkBlue  : hsl(216, 12%, 8%);
